.copyright {

    padding: 2rem 0 0;
    position: fixed;
    bottom: 1rem;
    left: 0.5rem;
  
    p {
      font-size: 0.75rem;
      writing-mode:vertical-lr;
      text-transform: uppercase;
      color: var(--gray-color);
    }
  }