.tooltip{
  width: 200px !important;
  font-size: 0% !important;
  height: 200px !important;
  background-color: var(--white-color) !important;
  box-shadow: 0 0 10px rgba(177, 177, 177, 0.1) !important;
  border-radius: 100px !important;
  opacity: 1 !important;
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}

.uiux-tooltip {
  background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Ftrademark-pics-search.oss-cn-shanghai.aliyuncs.com%2Fsmall%2Fs4519922479236096.jpg&refer=http%3A%2F%2Ftrademark-pics-search.oss-cn-shanghai.aliyuncs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650358325&t=5fc835d749fe667126cd9ef207465bf2) !important;
}
.javascript-tooltip {
  background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.zhimg.com%2Fv2-6e2e229c32649ca7079901a4b92c1d32_1200x500.jpg&refer=http%3A%2F%2Fpic1.zhimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650357150&t=e0192a6fafda516b3798595241684e14) !important;
}
.web-tooltip {
  background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fhbimg.huabanimg.com%2F550b51ce911b8805f884bf559275f834607c3c4212866-pthZTn_fw236&refer=http%3A%2F%2Fhbimg.huabanimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650358057&t=d958ac8f68003cc23e598660b65cdc64) !important;
}
.mobile-tooltip {
  background-image: url(https://img0.baidu.com/it/u=1453934111,63060868&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500) !important;
}


// @keyframes pulse {
//   0% { transform: opacity(1); }
//   50% { transform: opacity(0.1); }
//   100% { transform: opacity(1); }
// }
// .pulse {
//   -webkit-animation-name: pulse !important;
//   animation-name: pulse !important;
//   -webkit-animation-duration: 10s !important;
//   animation-duration: 10s !important;
//   -webkit-animation-fill-mode: both !important;
//   animation-fill-mode: both !important;
// }
